<!doctype html>
<html lang="en">
<head>
    <title>{{ title }}</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="apple-mobile-web-app-title" content="{{ title|escape('html_attr') }}">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="HandheldFriendly" content="true"/>
    <link rel="stylesheet" href="/css/base.css">
    {% include ['/components/links_' + theme + '.html', '/components/links_default.html'] %}
</head>
<body>
<div id="stats_container"></div>
<div id="quake_info_container"></div>
<div id="map"></div>
{% if mapbox_access_token %}
    <input type="hidden" id="mapbox_access_token" value="{{ mapbox_access_token|escape('url') }}">
    <script src="/js/map-leaflet.js" type="module" async defer></script>
{% elseif google_maps_key %}
    <input type="hidden" id="google_maps_key" value="{{ google_maps_key|escape('url') }}">
    <script src="/js/map-google.js" type="module" async defer></script>
{% endif %}
{% include '/components/disclaimer.html' %}
{% include '/components/trackers.html' ignore missing %}
</body>
</html>